# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Development & Scratch files
.scratch/
scratch/
docs/

# Local data / credentials
config.json
state.json
*.tmp
